<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- partial "favicon.html" . -}}
    <title>
      {{- block "title" . -}}
        {{- if not .IsHome -}}
          {{ with .Title }}{{ . }}&nbsp;|&nbsp;{{ end }}
        {{- end -}}
        {{ .Site.Title }}
      {{- end -}}
    </title>

    {{- partial "seo_tags.html" . -}}
    <meta name="referrer" content="no-referrer-when-downgrade" />

    {{ $simple := resources.Get "simple.css" }}
    {{ $style := resources.Get "style.css" }}
    {{ $css := slice $simple $style | resources.Concat "bundle.css" | minify }}
    <link href="{{ $css.RelPermalink }}" rel="stylesheet" />

    {{ with .Params.style }}
      {{ $extra := resources.Get . | minify }}
      <link href="{{ $extra.RelPermalink }}" rel="stylesheet" />
    {{ end }}

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ with .Site.Params.author.fediverse }}
      <meta name="fediverse:creator" content="{{ . }}" />
    {{ end }}


    <!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
    {{- partial "custom_head.html" . -}}
  </head>

  <body>
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "custom_footer.html" . }}
      {{ partial "footer.html" . }}
    </footer>

    <!-- A partial to be overwritten by the user.
  Simply place a custom_body.html into
  your local /layouts/partials-directory -->
    {{- partial "custom_body.html" . -}}
  </body>
</html>
