{{ define "main" }}
  {{ if eq .Type "blog" }}
    {{ if not .Params.menu }}
      <!-- <h1>{{ .Title }}</h1> -->
      <p>
        <i>
          <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </p>
    {{ end }}
  {{ end }}
  {{ if .Params.toc }}
    <details>
      <summary>Table of Contents</summary>
      {{ .TableOfContents }}
    </details>
  {{ end }}
  <content>
    {{ .Content }}
  </content>
  <p>
    {{ range (.GetTerms "tags") }}
      <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
    {{ end }}
  </p>
{{ end }}
