{{ define "canonical" -}}
  {{- if gt .Paginator.PageNumber 1 -}}
    {{- with urls.Parse .Permalink -}}
      {{- printf "%s://%s%s" .Scheme .Host $.Paginator.URL -}}
    {{- end -}}
  {{- else -}}
    {{- .Permalink -}}
  {{- end -}}
{{- end }}

{{ define "main" }}
  {{ if eq .Kind "term" }}
    <p>
      <small>
        {{ T "filtering_for" }} "{{ .Title }}" ·
        {{ with site.MainSections }}
          {{ with site.GetPage (index . 0) }}
            <a href="{{ .RelPermalink }}">{{ T "remove_filter" }}</a>
          {{ end }}
        {{ end }}
      </small>
    </p>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Paginator.Pages }}
      <li>
        {{ if not .Date.IsZero }}
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format (default "2006-01-02" site.Params.dateFormat) }}
          </time>
        {{ end }}
        {{ if .Params.link }}
          <a href="{{ .Params.link }}" target="_blank" rel="noopener">{{ .Title }} ↪</a>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      </li>
    {{ else }}
      <li>{{ T "no_posts" }}</li>
    {{ end }}
  </ul>
  {{ if or .Paginator.HasPrev .Paginator.HasNext }}
    {{- partial "pagination.html" . -}}
  {{ end }}
  {{ if ne .Kind "term" }}
    {{ with site.Taxonomies.tags }}
      <p class="tags">
        <small>
          {{ range . }}
            <a href="{{ .Page.RelPermalink }}">#{{ .Page.LinkTitle }}</a>
          {{ end }}
        </small>
      </p>
    {{ end }}
  {{ end }}
{{ end }}
