{{ define "main" }}
  <content>
    {{ if .Data.Singular }}
      <h3>{{ T "filtering_for" }} "{{ .Title }}"</h3>
      <small>
        {{ $mainSection := index (.Site.MainSections) 0 }}
        <a href="{{ relURL $mainSection }}">{{ T "remove_filter" }}</a>
      </small>
    {{ end }}
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}
    <ul class="blog-posts">
      {{ range .Paginator.Pages }}
        <li>
          <span>
            <i>
              <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
              </time>
            </i>
          </span>
          {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ else }}
        <li>{{ T "no_posts" }}</li>
      {{ end }}
    </ul>
    {{ if not .Data.Singular }}
      <small>
        <div>
          {{ range .Site.Taxonomies.tags }}
            <a href="{{ .Page.RelPermalink }}">#{{ .Page.LinkTitle }}</a>&nbsp;&nbsp;
          {{ end }}
        </div>
      </small>
    {{ end }}
  </content>
{{ end }}
